<h1> Run Information</h1>
Date run: <%= run_date @run %> </br>
Route: <%= @run.route.title %> </br>
Run Time: <%= run_time @run%> </br>
Mood: <%= @run.mood %> </br>
Notes: <%= @run.notes %> </br>

<%= link_to "Edit", edit_user_run_path(@user, @run) %> |
<%= link_to "Delete", @run, method: :delete, data: { confirm: "Really?" } %>
</br>
</br>
<%= link_to "See all my runs", user_runs_path(@user) %>
