<h1> Route Information for <%= @route.title %></h1>
Location: <%= @route.location %> </br>
Distance: <%= @route.distance %> miles</br>
Elevation: <%= @route.elevation %> feet </br>
 <%= link_to "See all routes", routes_path %>
