<h1><%= @route.title %></h1>
Location: <%= @route.location %> </br>
Distance: <%= @route.distance %> miles</br>
Elevation: <%= @route.elevation %> feet </br>
Description: <%= @route.description %> </br>

 <%= link_to "Edit", edit_route_path(@route) %> |
 <%= link_to "Delete", @route, method: :delete, data: { confirm: "Really?" } %>
 </br>
 </br>
<%= link_to "See all routes", routes_path %>
